.exposition {
  margin-top: 55px;
  margin-bottom: 55px;
}

.exposition h2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 73px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  border: solid 4px #18a9dd;
  border-bottom: none;
}

.expo-content-left h3 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 47px;
}

.expo-content-left p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 60px;
  margin-right: 60px;
}

.expo-content-left {
  border: solid 4px #18a9dd;
  border-right: none;
}

.expo-content-right h3 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 47px;
}

.expo-content-right p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 60px;
  margin-right: 60px;
}

.expo-content-right {
  border: solid 4px #18a9dd;
  border-bottom: none;
  border-top: none;
}

.expo-img-right {
  border: solid 4px #18a9dd;
  position: relative;
}

.expo-img-left {
  border-left: solid 4px #18a9dd;
  position: relative;
  transition: opacity 0.2s;
}

.expo-img-right p {
  opacity: 0%;
  position: absolute;
  font-family: "switzer", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: white;
  line-height: 72px;
  top: 255px;
  left: 45px;
}

.expo-img-left p {
  opacity: 0%;
  position: absolute;
  font-family: "switzer", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: white;
  top: 255px;
  left: 45px;
  line-height: 72px;
  height: 100%;
  width: 100%;
  display: block;
}

.expo-img-left:hover p {
  opacity: 1;
}

.expo-img-left :hover {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
}
