.exposition {
  margin-top: 55px;
  margin-bottom: 55px;
}

.exposition h2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 73px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  border: solid 4px #18a9dd;
  border-bottom: none;
}

.expo-content-left h3 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 47px;
}

.expo-content-left p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 60px;
  margin-right: 60px;
}

.expo-content-left {
  border: solid 4px #18a9dd;
  border-right: none;
}

.expo-content-right h3 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 47px;
}

.expo-content-right p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 60px;
  margin-right: 60px;
}

.expo-content-right {
  border: solid 4px #18a9dd;
  border-bottom: none;
  border-top: none;
}

.expo-img-right {
  border: solid 4px #18a9dd;
  position: relative;
}

.expo-img-left {
  border-left: solid 4px #18a9dd;
  position: relative;
  transition: opacity 0.2s;
}

.expo-img-left,
.expo-img-right {
  position: relative;
}

.expo-img-left-content,
.expo-img-right-content {
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "switzer", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: white;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
}

.expo-img-left-content:hover {
  opacity: 1;
}

.expo-img-right-content:hover {
  opacity: 1;
}

.exposition-title {
  position: relative;
}

.patch-2 {
  position: absolute;
  max-width: 126px;
  left: 500px;
  bottom: 100px;
  transform: scale;
  transition-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation: scale 2s linear infinite;
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  50% {
    scale: 85%;
  }
  100% {
    scale: 100%;
  }
}
