.footer-sponsor {
  border-top: solid 3px;
}

.footer-sponsor img {
  max-width: 109px;
  margin-left: 80px;
}

.logo-sponsor {
  margin-top: 25px;
}

.credit p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "switzer", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
