header img {
  width: 137;
  padding-top: 30px;
  padding-bottom: 30px;
}

header a {
  font-family: "switzer", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  padding-top: 4px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header {
  border-bottom: solid 2px;
}

header .language {
  text-decoration: underline;
}
