.intro h2 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  border: solid 4px #ff0000;
  padding: 56px 73px 65px 73px;
}

.intro p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  text-align: justify;
  font-size: 20px;
  border: solid 4px #ff0000;
  border-left: none;
  padding: 56px 73px 56px 73px;
}

.intro {
  margin-top: 105px;
}

.patch {
  max-width: 180px;
  position: absolute;
  bottom: 245px;
  left: -85px;
  transform: rotate(360deg);
  transition-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro-title {
  position: relative;
}
