.intro h2 {
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  border: solid 4px #ff0000;
  padding: 56px 73px 65px 73px;
}
.intro p {
  font-family: "switzer", sans-serif;
  font-weight: 300;
  text-align: justify;
  font-size: 20px;
  border: solid 4px #ff0000;
  border-left: none;
  padding: 56px 73px 56px 73px;
}

.intro {
  margin-top: 55px;
}
