.program {
  margin-top: 95px;
  font-family: "switzer", sans-serif;
  font-weight: 5400;
  font-size: 35px;
}

.schedule .program {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 27.5px 0;
  padding-left: 41px;
}

.program h2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 28px;
  padding-top: 28px;
  padding-right: 72;
  font-family: "switzer", sans-serif;
  font-weight: 600;
  font-size: 64px;
  border: solid 4px #1dc61c;
}

.program h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "switzer", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.program a {
  font-family: "switzer", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  border: solid 4px #1dc61c;
  border-top: none;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.program a:hover {
  animation-duration: 2s;
  color: #1dc61c;
}
.container-accordion {
  overflow: hidden;
  height: 0px;
  transition: 0.4s ease-in-out;
  &.is-open {
    border-bottom: solid 4px #1dc61c;
    height: 719px;
  }
  &.is-open-last-one {
    border-bottom: none;
    height: 616px;
  }
}

.button-vendredi {
  .arrow-button img {
    transform: rotate(0);
    transition: 0.5s;
  }
  &.is-active .arrow-button img {
    transform: rotate(180deg);
  }
}

.button-samedi {
  .arrow-button img {
    transform: rotate(0);
    transition: 0.5s;
  }
  &.is-active .arrow-button img {
    transform: rotate(180deg);
  }
}

.button-dimanche {
  .arrow-button img {
    transform: rotate(0);
    transition: 0.5s;
  }
  &.is-active .arrow-button img {
    transform: rotate(180deg);
  }
}

.container-dimanche .schedule:last-of-type {
  border-bottom: solid 4px #1dc61c;
}

.button {
  height: 100px;
  width: 100%;
  border: solid 4px #1dc61c;
  border-top: none;
  display: flex;
  justify-content: space-between;
}

.schedule {
  display: flex;
  flex-direction: row;
  border: solid 4px #1dc61c;
  border-bottom: none;
}

.schedule:first-child {
  border-top: none;
}

.hour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: solid 4px #1dc61c;
  font-family: "switzer", sans-serif;
  font-weight: 5400;
  font-size: 35px;
}

.program a {
  padding: 39px 45px;
}

.button img {
  max-width: 73px;
}

.arrow-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.program .gif {
  position: absolute;
  max-width: 366px;
  bottom: 60px;
  right: 1000px;
}

.program-title {
  position: relative;
}
